@font-face {
    font-family: 'icones';
    src: url(../font/icones.ttf);
}

body {
    background-color: #1D232A;
    font-family: 'Open Sans','icones', Sans-serif;
    color: #ffffff;
}

@media screen and (min-width:1440px){
    body{
        display: grid;
        grid-template-columns: auto 1fr;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #15191C;
    padding: 8px 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}

/*.header-menu:active .menu-lateral{  --ISSO AQUI NÃO DEU CERTO PQ :active SÓ FUNCIONADA PARA ANCORAS <a> E NÃO DA PRA UTILIZAR ANCORA NO CASO POIS PRECISA DE UM href--
    left: 0;
    transition: .25s;
}*/

.header-perfil{
    display: none;
}

.header-menu i:before { /*menu sanduiche*/   /* aqui eu to usando o icone como se fosse um texto que eu estou importando do arquivo icones.ttf*/
    content: "\e904";                         /*para isso eu tive que 'importar' a fonte, o primeiro atributo do css está fazendo isso*/  
    font-size: 24px;                          /* dai utilizo a tag i para marcar, no caso eu coloco pra aprecer antes de qualquer coisa do i mas nao escrevo nada*/
}

.header-notificacao i:before { /* sino notificacao */
    content: "\e906";
    font-size: 24px;
}


.header-logo {
    width: 40px;
}


@media screen and (min-width: 1440px){ /*fazendo mais de 1 media igual pra deixar mais organizado*/                 
    
    .header{
        background-color: #1D232A;
        display: grid;
        column-gap: 32px;
        grid-template-columns: 1fr auto; /* aqui eu faço com que o header do screen assim: primeiro elemento que é o perfil ocupa o header inteiro e o segundo elementoq que é a notificação ocupa só o necessário*/
        padding: 16px 60px;
        height: 80px;
        box-sizing: border-box; /*para que o header tenha a altura minima que eu pedi além do padding*/ 
        
    }

    .header-menu{
        display: none;
    }

    .header-logo{
        display: none;
    }

    .header-perfil {
        display: grid;
        grid-template-columns: repeat(3,auto); /*mesma coisa que fazer -: auto auto auto- o perfil tem 3 itens imagem, nome e simbolo do dropdown dai to dividindo igualmente  */
        column-gap: 8px; /*não coloquei apenas o 'gap' pq nao teremos linhas, apenas colunas*/
        align-items: center;
        justify-self: flex-end;
        color: #95999c;
        padding: 8px 32px;
        border-right: 1px solid #95999c;

    }

    .header-perfil:before {
        content: ""; /*apesar de nao ser um content preciso colocar algo dentro para importar a imagem*/
        display: block; /*passei display block pq vou trabalhar com altura e largura*/
        width: 32px;
        height: 32px;
        background-image: url(../img/profile_2.png);
        background-size: contain; /*para o tamanho da imagem ficar contida no tamanho */
        background-repeat: no-repeat;
        background-position: center;
    }

    .header-perfil:after {
        content: "\e90d";
        color: #ffffff;
        font-size: 1.5rem;
    }

}


.menu-lateral{
    display: flex;
    flex-direction: column;
    background-color: #15191C;
    width: 75vw;
    height: 100vh;
    transition: .25s;
    position: absolute;
    left: -100vw;
    top:56px;
}


.menu-lateral-ativo{
    left: 0;
    transition: .25s;
}


.menu-lateral-logo {
    align-self: center;
    width: 118px;
    padding: 16px;
}

.menu-lateral-link{
    height: 64px;
    color: #95999c;
    padding-left: 64px;
    display: flex;
    align-items: center;
}

.menu-lateral-link:before {
    content:"\e900";
    width: 24px;
    height: 24px;
    font-size: 24px;
    position: absolute;
    left: 24px;
}

.menu-lateral-link:active{
    color: #ffffff;
    padding-left: 56px;
    border-left: 8px solid #ffffff;
}

.menu-lateral-link-inicio:before {
    content: "\e902";
}

.menu-lateral-link-videos:before {
    content: "\e90e";
}

.menu-lateral-link-picos:before {
    content: "\e909";
}

.menu-lateral-link-integrantes:before{
    content: "\e903";
}

.menu-lateral-link-camisas:before {
    content: "\e900";
}

.menu-lateral-link-pinturas:before {
    content: "\e90a";
}

@media screen and (min-width:1440px){
    .menu-lateral{
        position: static;
        width: 200px;
        grid-row: span 2;
    }    
}


/* estiliZacao das pages/cards */

.principal {
    padding: 24px 16px;
    display: grid;
    gap: 16px;
}

.titulo-pagina {
    font-size: 1.5rem;
    font-weight: 700;
}

.titulo-secao{
    font-size: 1.2rem;
    font-weight: 700;
}

@media screen and (min-width: 1440px) {
    .principal{
        display: grid;
        grid-template-columns: auto auto auto auto;
        column-gap: 32px;
        padding: 16px 60px;
        grid-column: 2;
    }
    
}

.cartao{
    width: 100%;
    border-radius: 15px;
    overflow:hidden;
    background-color: #2C343A;
}

.cartao-destaque {
    margin-bottom: 16px;
}

.cartao-conteudo {
    padding: 16px;
    display: grid;
    grid-template-columns: auto 1fr; /* o 'auto' faz com que a coluna pegue o tamanho que ocupa o item, interessante fazer assim pq caso o tamanho do texte aumente o item se justara*/
    gap: 8px;
}

.cartao-conteudo-titulo {
    font-size: 1.2rem;
    font-weight: 700;
    grid-column: span 2;
}

.cartao-conteudo-perfil {
    color: #95999c;
    font-size: 0.9rem;
    grid-column: span 2;
}

.cartao-conteudo-info {
    display: flex;           /* aqui eu coloco display flex para trabalhar com pseudo-elemento que será o ícone*/
    align-items: center;
    color: #95999c;
}

.info-tempo:before{
    content: "\e90c";
    margin-right: 8px;
}

.info-visualizacao:before{
    content: "\e90f";
    margin-right: 8px;
}

.cartao-conteudo-botao {
    display: flex;              /*same reason*/
    justify-content: center;
    align-items: center;
    background-color: #0480dc;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-size: 0.9rem;
    justify-self: flex-end;
}

.cartao-conteudo-botao-play:before {
    content:"\e90b";
    font-size: 24px;
}

.cartao-conteudo-botao-destaque{
    width:100%;
    grid-column: span 2;
}

.cartao-conteudo-botao-destaque:before {
    margin-right: 8px;
}

.cartao-recentes{
    display: none;
}

@media screen and (min-width: 1440px) {
    .cartao-recentes{
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        row-gap: 24px;
        width: 256px;
        padding: 16px;
        box-sizing: border-box;

    }

    .cartao-destaque{
        grid-column: span 3;
    }
    .cartao-recentes .cartao-titulo{
        grid-column: auto;
    }

    .cartao-link{
        font-size: 0.8rem;
        font-weight: 600;
        color: #0480dc;
        justify-self: flex-end;
    }

    .cartao-lista{
        display: grid;
        row-gap: 16px;
        grid-column: span 2;
    }

    .cartao-item{
        display: grid;
        grid-template-columns: auto 1fr;
    }
    
}

.secao {
    display: grid;
    gap: 16px;
}